html {
  --color1: #171a21;
  --color2: #00ceb8;
  --color3: midnightblue;
  --color4: #9ca7b4;
  --color5: rgb(0, 0, 25);
  --color6: #ffae58;
  text-align: center;
  margin: 0;
  background: var(--color5);
  color: white;
  font-size: 2vmin;
  font-family: 'Ubuntu Mono', sans-serif;
}

.App {
  background: var(--color5);
}

ol li {
  list-style: none;
}

.click:hover {
  cursor: pointer;
}

.red {
  color: rgb(255, 0, 0);
  font-weight: 900;
}

.green {
  color: rgb(0, 255, 0);
  font-weight: 900;
}

.yellow {
  color: var(--color6);
  font-weight: 900;
}

img {
  border-radius: 50%;
  vertical-align: middle;
}

img.gif {
  border-radius: unset;
  width: 100%;
  height: 25rem;
}

img.thumbnail {
  height: 3rem;
  width: 3rem;
  margin: .25rem;
}

p {
  margin: 0;
}

.end:hover {
  direction: rtl;
}

.end:hover>p {
  margin: 0;
  text-align: right;
}

.left {
  text-align: left;
  white-space: nowrap;
}

.left p {
  margin: 0;
  margin-right: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: .25rem;
  width: 90%;
}

.left p:hover {
  overflow: visible;
  width: fit-content;
  min-width: 90%;
  padding: .25rem;
  position: relative;
  z-index: 2;
  background-color: black;
}

p.image {
  position: relative;
}

p.image>img {
  opacity: .85;
}

p.image>strong {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 0;
  line-height: 0;
  font-size: 250%;
  color: var(--color2);
  text-shadow: 0 0 1rem black;
}

/* Homepage */

img.home {
  border-radius: 50%;
  filter: brightness(0.25) drop-shadow(0 0 1.5rem white);
  width: 80vmin;
  height: 80vmin;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  vertical-align: middle;
}

div.home {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 60vmin;
  margin: auto;
  display: flex;
  flex-direction: column;
}

strong.home {
  color: var(--color2);
  height: 50%;
  font-size: 12.5rem;
  text-shadow: 0 0 2.5rem black;
  font-family: 'Pulang', sans-serif;

}

input.home {
  width: 50vmin;
  margin: 3rem auto;
  text-align: center;
  padding: 1rem;
  background-color: var(--color2);
  border: 1rem ridge midnightblue;
  font-size: 3rem;
  border-radius: 2.5rem;
  box-shadow: inset 0 0 1.25rem black;
  font-weight: 900;
  font-family: 'Ubuntu Mono', sans-serif;
  opacity: .8;
}

button.home {
  background-color: var(--color3);
  color: white;
  font-size: 1.25rem;
  padding: .75rem;
  border-radius: 2rem;
  border: .5rem ridge white;
  font-family: 'Ubuntu Mono', sans-serif;
  margin-top: 1rem;
}

input.home,
button.home {
  filter: drop-shadow(0 0 1.5rem black);
}

/* View */

div#view {
  background: var(--color5);
}

a.home {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 9999;
}

div.heading img {
  width: 7.5rem;
  margin: 2rem auto;
}

div.navbar,
div.switch_wrapper {
  display: flex;
  margin: auto;
  padding: 0;

}

div.navbar,
div.switch {
  background-color: black;
  border-radius: 2rem;
  filter: drop-shadow(0 0 .5rem white) brightness(2);
}

div.navbar {
  width: fit-content;
  min-width: 75%;
  max-width: 100%;
}

div.switch_wrapper {
  max-width: 75rem;
  padding: 1rem 2rem;
  justify-content: space-evenly;
  box-sizing: border-box;
  margin: auto;
}

div.switch {
  display: flex;
  width: 25rem;
}

button.nav,
button.sw {
  background-color: transparent;
  color: var(--color4);
  border: none;
  padding: .5rem;
  font-weight: 900;
  border: .25rem solid transparent;
  font-family: 'BitDotted', sans-serif;
}

button.nav {
  width: 22%;
  font-size: 1.5rem;
}

button.nav:last-of-type {
  width: 34%;
}

button.sw {
  min-width: fit-content;
  max-width: 60%;
  font-size: 1.25rem;
  padding: .5rem;
}

button.sw:first-of-type,
button.sw:last-of-type {
  width: 45%;
}

button.nav.active,
button.sw.active {
  color: var(--color2);
  filter: brightness(2) contrast(2);
  text-shadow: 0 0 .25rem black;
  font-family: 'GROUPE', sans-serif;

}

button.sw.active {
  background-color: var(--color5);
  border-radius: 2rem;
  border: .25rem solid var(--color2);
  filter: brightness(2) contrast(2);
}

/* STICKY */
div.page_numbers_wrapper {
  position: sticky;
}

table.main,
tbody.active {}

tbody.active {}

/* Main Table */

table {
  table-layout: fixed;
  margin: auto;

  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table.main {
  width: 95vw;
  background-color: var(--color1);
  font-size: 1.5rem;
  box-shadow: 0 0 2rem white;
  white-space: nowrap;
  margin: auto;
  position: relative;
}

table.main>thead {
  height: 5rem;
  position: sticky;
  top: 4rem;
  background-color: inherit;
  z-index: 14;
}

tr.main.active {
  background-color: var(--color3);
  position: sticky;
  top: 8.75rem;
  z-index: 13;
}

table.main_body {
  table-layout: fixed;
  margin: auto;
  width: 95vw;
  border-spacing: .05rem;
}

table.main tbody {
  background-color: var(--color1);
}

th.small {
  font-size: 80%;
  white-space: initial;
}

td {
  height: 4rem;
  box-shadow: inset 0 0 1rem black;
}

th {
  filter: contrast(2);
  box-shadow: inset 0 0 .5rem white;
  padding: .25rem;
}

tbody,
tr,
th,
td {
  background-color: inherit;
}

div.page_numbers_wrapper {
  top: 0;
  width: 100%;
  background-color: var(--color5);
  z-index: 15;
  height: 4rem;
}

ol.page_numbers {
  display: flex;
  justify-content: left;
  width: fit-content;
  max-width: 80vw;
  list-style: none;
  font-size: 1.5rem;
  margin: 0 auto;
  padding: .5rem 0 1rem 0;
  background-color: var(--color1);
  overflow: hidden;
  filter: drop-shadow(0 0 .25rem white);

}

ol.page_numbers:hover {
  overflow-x: scroll;
  padding-bottom: .5rem;

}

ol.page_numbers::-webkit-scrollbar {
  height: .5rem;
}

ol.page_numbers::-webkit-scrollbar-track {
  background-color: transparent;
}

ol.page_numbers::-webkit-scrollbar-thumb {
  background-color: var(--color2);
}

ol.page_numbers>li {
  margin: 0 1rem;
  border: ridge .1rem var(--color4);
  padding: .4rem;
  opacity: .25;
}

ol.page_numbers>li.active {
  filter: brightness(2);
  color: var(--color2);
  border: ridge .1rem var(--color2);
  opacity: 1;
}

/* Secondary Table */
table.secondary {
  width: 100%;
  display: inline-table;
  vertical-align: top;
}

table.secondary tr.active td {
  background-color: var(--color3);
}

table.secondary td {
  background-color: rgb(57, 57, 57);
}

table.secondary>thead {
  height: 3rem;
  position: sticky;
  top: 11rem;
  background-color: var(--color1);
  z-index: 12;
}

table.secondary.lineup,
table.secondary.subs {
  width: 50%;
  font-size: 80%;
  border: .25rem ridge var(--color2);
  position: sticky;
  top: 11rem;
}

tr.secondary.active {
  background-color: var(--color3);
  position: sticky;
  top: 14rem;
  z-index: 10;
}

div.nav {
  font-size: 1.5rem;
  color: var(--color2);
  display: flex;
  justify-content: center;

  margin: auto;
  position: relative;
}

div.primary.nav {
  margin-top: 1rem;
  margin-bottom: .5rem;
}

div.nav>select {
  border: none;
  width: fit-content;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  text-align: center;
  filter: brightness(2);
  font-family: 'Ubuntu Mono', sans-serif;
  padding-right: 2rem;
  appearance: none;
  position: relative;
  z-index: 2;
  text-align: right;
}

i.fa-regular.fa-rectangle-list {
  color: var(--color2);
  filter: brightness(2);
  transform: translate(-100%);
}

div.nav>button {
  color: white;
  opacity: .5;
  border: none;
  font-size: inherit;
  background-color: transparent;
  margin: .5rem 1rem;
}

div.nav>button.active {
  color: var(--color2);
  opacity: 1;
  filter: brightness(2);
  border: none;
  font-size: inherit;
}

div.secondary.nav>button.sync {
  padding: .25rem;
  height: 75%;
  opacity: 1;
  background-color: var(--color2);
  color: var(--color1);
  font-weight: 900;
  margin: auto;
  align-self: flex-end;
}

div.search_wrapper {
  width: 50%;
  max-width: 50vh;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 5rem;
}

div.search_wrapper>img.thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin-top: 1rem;
  margin-left: 1rem;
}

input.search {
  width: 50vmin;
  font-size: 1.5rem;
  padding-right: 2rem;
  padding-left: 3.5rem;
  text-align: left;
  background-color: var(--color2);
  border-radius: 1rem;
  border: 1rem ridge var(--color3);
  overflow: hidden;
  text-overflow: ellipsis;
}

button.input {
  font-weight: 900;
  height: 3rem;
  width: 2rem;
  margin: 0;
  font-size: 1rem;
  background-color: var(--color3);
  color: var(--color2);
  border: .15rem groove var(--color2);
  padding: 0 .25rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin-top: 1rem;
  margin-right: 1rem;
  border: none;
}

ol.dropdown {
  position: absolute;
  z-index: 26;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  margin-top: 1.5rem;
  height: fit-content;
  max-height: 65vh;
  overflow: auto;
  width: 100%;
  padding: 0;

  border: 1rem ridge var(--color3);
  box-sizing: border-box;
  box-shadow: 0 0 .5rem var(--color2);
  filter: contrast(2);
  border-radius: 1rem;
  background-color: var(--color2);
}

ol.dropdown>li>button {
  background-color: var(--color2);
  color: black;
  font-weight: 900;
  font-size: 125%;
  border: none;
  width: 100%;
  height: 100%;
  padding-right: 1rem;
  box-shadow: inset 0 0 1rem black;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ol.dropdown>li>button:hover {
  filter: brightness(2);
  background-color: var(--color5);
  color: var(--color2);
}

/* Animations */

.rotate {
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}