html {
  --color1: #152038;
  --color2: #00ceb8;
  --color3: midnightblue;
  --color4: #9ca7b4;
  text-align: center;
  font-size: 1.25vmin;
  margin: 0;
  background: var(--color1);
  color: white;
  width: 100vw;
  height: 100vh;
  font-family: 'Ubuntu Mono', sans-serif;
}

.click:hover {
  cursor: pointer;
}

img {
  border-radius: 50%;
}

p.image {
  position: relative;
}

p.image>img {
  opacity: .85;
}

p.image>strong {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 0;
  line-height: 0;
  font-size: 250%;
  color: var(--color2);
  text-shadow: 0 0 1rem black;
}

/* Homepage */

img.home {
  border-radius: 50%;
  filter: brightness(0.25) drop-shadow(0 0 1.5rem white);
  width: 80vmin;
  height: 80vmin;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  vertical-align: middle;
}

div.home {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 60vmin;
  margin: auto;
  display: flex;
  flex-direction: column;
}

strong.home {
  color: var(--color2);
  height: 50%;
  font-size: 1800%;
  text-shadow: 0 0 2.5rem black;
  opacity: .8;
  font-family: 'Pulang', sans-serif;

}

input.home {
  width: 50vmin;
  margin: auto;
  text-align: center;
  padding: 1rem;
  background-color: var(--color2);
  border: 2rem ridge midnightblue;
  font-size: 500%;
  border-radius: 2.5rem;
  opacity: .8;
  font-weight: 900;
  font-family: 'Ubuntu Mono', sans-serif;
}

button.home {
  background-color: var(--color3);
  color: white;
  font-size: 250%;
  padding: 1rem;
  border-radius: 2rem;
  border: 1rem ridge white;
  font-family: 'Ubuntu Mono', sans-serif;
}

input.home,
button.home {
  filter: drop-shadow(0 0 1.5rem black);
}

/* View */

div#view {
  width: 100%;
  height: 100%;
}

a.home {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 9999;
}

div.heading img {
  width: 10vmin;
  margin: 2rem auto;
}

div.navbar,
div.switch_wrapper {
  display: flex;
  margin: 2rem auto;
  padding: 0;
  justify-content: center;
  overflow: hidden;
}

div.navbar,
div.switch {
  background-color: black;
  opacity: .5;
  border-radius: 2rem;
  filter: drop-shadow(0 0 .5rem white);
}

div.navbar {
  width: fit-content;
}

div.switch_wrapper {
  width: 100%;
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

div.switch {
  display: flex;
  margin: auto 2rem;
  width: fit-content;
}

button.nav,
button.sw {
  background-color: transparent;
  color: var(--color4);
  border: none;
  padding: 2rem;
  filter: brightness(.5);
  width: fit-content;
  font-size: 250%;
  font-weight: 900;
}

button.nav.active,
button.sw.active {
  color: var(--color2);
  filter: brightness(2) contrast(2);
  opacity: 1;
}

button.nav {}

button.nav.active {}

button.sw {}

button.sw.active {
  background-color: var(--color3);
  border-radius: 2rem;
  text-shadow: 0 0 1rem black;
  border: .25rem solid var(--color2);
  filter: brightness(2) contrast(2) drop-shadow(0 0 .5rem var(--color2));
}