html {
  --color1: #171a21;
  --color2: #00ceb8;
  --color3: midnightblue;
  --color4: #9ca7b4;
  --color5: rgb(0, 0, 25);
  text-align: center;
  margin: 0;
  background: var(--color5);
  color: white;
  font-size: 2vmin;
  width: 100vw;
  height: 100vh;
  font-family: 'Ubuntu Mono', sans-serif;
}

.click:hover {
  cursor: pointer;
}

.red {
  color: rgb(255, 0, 0);
}

.green {
  color: rgb(0, 255, 0);
}

img {
  border-radius: 50%;
}

img.thumbnail {
  width: 3rem;
  margin: .25rem;
}

.left {
  text-align: left;
  white-space: nowrap;
}

.left p {
  margin: 0;
  margin-right: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: .25rem .75rem;
}

.left p:hover {
  overflow: visible;
  width: fit-content;
  min-width: 90%;
  padding: .25rem .75rem;
  position: relative;
  z-index: 2;
  filter: drop-shadow(0 0 .5rem white);
  background-color: inherit;
}

p.image {
  position: relative;
}

p.image>img {
  opacity: .85;
}

p.image>strong {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 0;
  line-height: 0;
  font-size: 250%;
  color: var(--color2);
  text-shadow: 0 0 1rem black;
}

/* Homepage */

img.home {
  border-radius: 50%;
  filter: brightness(0.25) drop-shadow(0 0 1.5rem white);
  width: 80vmin;
  height: 80vmin;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  vertical-align: middle;
}

div.home {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 60vmin;
  margin: auto;
  display: flex;
  flex-direction: column;
}

strong.home {
  color: var(--color2);
  height: 50%;
  font-size: 12.5rem;
  text-shadow: 0 0 2.5rem black;
  font-family: 'Pulang', sans-serif;

}

input.home {
  width: 50vmin;
  margin: auto;
  text-align: center;
  padding: 1rem;
  background-color: var(--color2);
  border: 1rem ridge midnightblue;
  font-size: 2rem;
  border-radius: 2.5rem;
  box-shadow: inset 0 0 1.25rem black;
  font-weight: 900;
  font-family: 'Ubuntu Mono', sans-serif;
  opacity: .8;
}

button.home {
  background-color: var(--color3);
  color: white;
  font-size: 1.25rem;
  padding: .75rem;
  border-radius: 2rem;
  border: .5rem ridge white;
  font-family: 'Ubuntu Mono', sans-serif;
  margin-top: 1rem;
}

input.home,
button.home {
  filter: drop-shadow(0 0 1.5rem black);
}

/* View */

a.home {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 9999;
}

div.heading img {
  width: 7.5rem;
  margin: 2rem auto;
}

div.navbar,
div.switch_wrapper {
  display: flex;
  margin: auto;
  padding: 0;

}

div.navbar,
div.switch {
  background-color: black;
  border-radius: 2rem;
  filter: drop-shadow(0 0 .5rem white) brightness(2);
}

div.navbar {
  width: fit-content;
  box-sizing: content-box;
}

div.switch_wrapper {
  width: 100vw;
  padding: 1rem 2rem;
  justify-content: center;
  box-sizing: border-box;
}

div.switch {
  display: flex;
  width: fit-content;
  margin: 1rem;
}

button.nav,
button.sw {
  background-color: transparent;
  color: var(--color4);
  border: none;
  padding: .5rem;
  font-size: 1rem;
  font-weight: 900;
  border: .25rem solid transparent;
  font-family: 'BitDotted', sans-serif;
}

button.nav {
  width: fit-content;
}

button.sw {
  width: 5rem;
}

button.sw:first-of-type,
button.sw:last-of-type {
  width: 7.5rem;
}

button.nav.active,
button.sw.active {
  color: var(--color2);
  filter: brightness(2) contrast(2);
  text-shadow: 0 0 .25rem black;
  font-family: 'GROUPE', sans-serif;
  font-size: 1rem;
}

button.sw.active {
  background-color: var(--color5);
  border-radius: 2rem;
  border: .25rem solid var(--color2);
  filter: brightness(2) contrast(2);
}

/* Main Table */

table {
  table-layout: fixed;
  margin: auto;
  width: 100%;
}

table.main {
  width: 98%;
  background-color: var(--color1);
  font-size: 1.5rem;
  box-shadow: 0 0 2rem white;
  overflow: hidden;
}

table.body {
  table-layout: fixed;
  margin: auto;
  width: 95vw;
  background-color: inherit;
  border-spacing: .05rem;
}

th.small {
  font-size: 80%;
  ;
}

tbody,
tr,
th,
td {
  background-color: inherit;
}

th,
td {
  box-shadow: inset 0 0 1rem black;
}

tr.main>td {
  height: 4rem;
  padding: 0;
}

td.left img {
  vertical-align: middle;
}

ol.page_numbers {
  display: flex;
  justify-content: left;
  width: fit-content;
  max-width: 80vw;
  list-style: none;
  font-size: 1.5rem;
  margin: auto;
  margin-bottom: 1.5rem;
  padding: .5rem 0 1rem 0;
  background-color: var(--color1);
  overflow-x: hidden;
  filter: drop-shadow(0 0 .25rem white);
}

ol.page_numbers:hover {
  overflow-x: scroll;
  padding-bottom: .5rem;
}

ol.page_numbers::-webkit-scrollbar {
  height: .5rem;
}

ol.page_numbers::-webkit-scrollbar-track {
  background-color: transparent;
}

ol.page_numbers::-webkit-scrollbar-thumb {
  background-color: var(--color2);
}

ol.page_numbers>li {
  margin: 0 1rem;
  border: ridge .1rem var(--color4);
  padding: .5rem;
  opacity: .25;
  height: fit-content;
}

ol.page_numbers>li.active {
  filter: brightness(2);
  color: var(--color2);
  border: ridge .1rem var(--color2);
  opacity: 1;
}

/* Secondary Table */
table.secondary {
  width: 100%;
  display: inline-table;
}

table.secondary.lineup,
table.secondary.subs {
  font-size: 80%;
}

table.secondary.lineup {
  width: 50%;
}

table.secondary.subs {
  width: 50%;
}